@{
    ViewData["Title"] = "Home page";
}

<div class="card">
    <div class="card-header">
        Phone Booking
    </div>
    <div class="card-body">
        <p>
            Book a Phone with ease :
        </p>
        <a asp-action="Book" asp-controller="Booking" class="btn btn-primary">Order My Phone</a>
    </div>
</div>